<div class="container">
  <div class="new-student-form wrapper">
  <div class="booked-appointment-before">
  <div>Have you booked an appointment before?</div>
  <%= link_to "Log In", new_user_session_path %>
  </div>
  <h2>Tell Abby a Little About You</h2>
  <%= simple_form_for @student, url: students_path, method: :post do |s| %>
    <div class="form-inputs">
      <div class="row">
      <%= simple_fields_for :user do |f| %>
      <div class="col-md-6 col-sm-12">
        <%= f.input :first_name,
                  required: true %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :last_name,
                  required: true %>
      </div>
      <div class="col-md-6 col-sm-12"><%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      </div>
        <%= simple_fields_for :application do |a| %>
          <div class="col-md-6 col-sm-12"><%= a.input :native_language %></div>
          <div class="col-md-12"><%= a.input :years_of_english, collection: (0..20).to_a %></div>
          <div class="col-md-12"><%= a.input :learning_goals %></div>
          <div class="col-md-12"><%= a.label :topics_of_interest %>
          <%= a.collection_check_boxes :topics_of_interest, [["Conversation", "Conversation"], ["Grammar", "Grammar"], ["Vocabulary", "Vocabulary"], ["Pronunciation", "Pronunciation"], ["Pop Culture", "Pop Culture"], ["Food/Culture", "Food/Culture"], ["Business", "Business"]], :first, :second %></div>
          <div class="col-md-6 col-sm-12"><%= a.input :age, collection: (5..70).to_a  %></div>
          <div class="col-md-6 col-sm-12"><%=  a.input :gender, collection: ["Male", "Female"] %></div>
          <div class="col-md-12"><%= a.input  :address %></div>
        <% end %>
      <div class="col-md-6 col-sm-12"><%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  hint: "To access your appointments!",
                  input_html: { autocomplete: "new-password" } %></div>

      <div class="col-md-6 col-sm-12"><%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %></div>
    </div>
    </div>
      <% end %>

    <div class="form-actions">
      <%= s.button :submit, "Continue to appointments", class: "btn btn-primary" %>
    </div>
  <% end %>

  </div>
</div>

