<div class="jumbotron">
  <div class="container">
  <h1>Improve your Life, Learn English with Abby!</h1>
  <div class="subtitle">Practice the world's most widely spoken language with your very own private tutor</div>
  <% if user_signed_in? %>
    <%= link_to "Book a lesson", new_appointment_path, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Book a lesson", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
  </div>
</div>
<div class="container">
  <section class="why-learn-english">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="selling-point-icon"><i class="fas fa-comments"></i></div>
        <h4>Join millions of other English Speakers</h4>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="selling-point-icon"><i class="fas fa-sort-alpha-up"></i></div>
        <h4>Improve yourself</h4>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="selling-point-icon"><i class="fas fa-hand-holding-heart"></i></div>
        <h4>Have some fun!</h4>
      </div>
    </div>
  </section>
  <section class="meet-your-teacher">
    <h2 class="text-center">Meet your Teacher</h2>
    <div class="teacher-synopsis">
      <div class="row">
        <div class="col-sm-12 col-md-6" id="image-container">
          <%= image_tag "AbbyProfilePic.jpg", class: "avatar-large" %>
          <h3 class="text-center">Abby Arend</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p id="teacher-profile">Abby is a TEFL Certified English Teacher with over 2000 hours of teaching. With a compelling background teaching refugees abroad, volunteering at Service Overseas in Solidarity, tutoring ESL students and working as an English to teacher to Chinese students online, Abby is well adept in teaching people of all backgrounds and cultures. As she travels and teaches around the world, she understands the benefits of sharing a common language in order for everyone's voices to be heard. She is passionate about education and is eager to help you on your journey to learn English.</p>
        </div>
      </div>
    </div>
    <div class="teacher-selling-points">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3><i class="fas fa-check"></i> <span>TEFL Certified</span></h3>
          <p>With a Teaching English as a Foreign Language Certificate, Abby is well prepared to teach English to students of any level. Well versed in customized lesson planning, she will find the best ways to teach you English, the way <em>you</em> want to learn it.</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3><i class="fas fa-stopwatch"></i> <span id="teaching-hours">1000</span>+ hours</h3>
          <p>Numerous hours in the classroom, one on one tutoring sessions, and over Skype have helped Abby learn what works and what doesn't. Learn English in the most effective way possible!</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3><i class="fas fa-hands-helping"></i> Personalized Lessons</h3>
          <p>Learn what you want, the way you want. With experience teaching countless topics, Abby can cater her lessons to precisely target your learning goals. That way you spend every minute of your prescious time, learning exactly what you want.</p>
        </div>
      </div>
    </div>
      <div class="text-center">
        <% if user_signed_in? %>
          <%= link_to "Book a lesson", new_appointment_path, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Book a lesson", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
  </section>
  <section class="how-it-works">
    <div class="how-it-works-title">1, 2, 3... Go!</div>
    <div class="how-it-works-step step-one">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <%= image_tag "form.jpg", class: "step-image" %>
        </div>
        <div class="col-sm-12 col-md-1"><span class="step-number-how-it-works">1</span></div>
        <div class="col-sm-12 col-md-7">
          <h2>Fill out a 3 minute short form</h2>
          <p>Give Abby some quick info to help her plan the best lesson possible.</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-step step-two">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-md-push-8">
          <%= image_tag "calendar.jpg", class: "step-image" %>
        </div>
        <div class="col-sm-12 col-md-1 col-md-pull-4"><span class="step-number-how-it-works">2</span></div>
        <div class="col-sm-12 col-md-7 col-md-pull-4">
          <h2>Book an Appointment</h2>
          <p>Check Abby's availability and book what time and lesson length works best for you!</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-step step-three">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <%= image_tag "learn-english.jpg", class: "step-image" %>
        </div>
        <div class="col-sm-12 col-md-1"><span class="step-number-how-it-works">3</span></div>
        <div class="col-sm-12 col-md-7">
          <h2>Learn English!</h2>
          <p>The fun part! Chat with Abby and have some fun improving your English skills</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <% if user_signed_in? %>
        <%= link_to "Book a lesson", new_appointment_path, class: "btn btn-primary btn-lg" %>
      <% else %>
        <%= link_to "Book a lesson", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </section>
</div>
  <div class="footer">
    <div class="send-teacher-a-question">Have questions? Send Abby an email here
    <!-- Button trigger modal -->
      <a class="" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-envelope"></i>
      </a>
    </div>
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ask Abby a Question</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'shared/question_form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="weekly-email-tips">Want to learn English, but don't want tutoring yet? Sign up for weekly English tips from Abby completely free!</div>
    <form action="/">
      <input type="email" placeholder="your@email.com">
      <input type="submit">
    </form>
  </div>
