<%= render 'shared/navbar' %>
<div class="container">
  <div class="wrapper">
    <div class="text-center"><%= link_to "Schedule New Lesson", new_appointment_path %></div>
  </div>
  <div class="wrapper">
    <h2 class="text-center">Your Schedule</h2>
    <%= month_calendar attribute: :time do |date| %>
    <%= date.day %>
    <% @appointments.each do |appointment| %>
    <div>
      <% if appointment.date == date %>
      <div class="appointment-in-calendar"><%= appointment.time.strftime("%H:%M") %></div>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="wrapper">
    <h3>Appointments</h3>
    <div class="appointments-list">
      <% @appointments.each do |appointment| %>
      <div class="appointment-card">
        <div><%= appointment.id %></div>
        <div><%= appointment.student.user.full_name %></div>
        <div><%= appointment.date %></div>
        <div><%= appointment.time %></div>
        <div>Location: <%= appointment.location %></div>
        <div>Lesson time: <%= appointment.duration %> minutes</div>
      </div>
      <% end %>
    </div>
  </div>
</div>

