<div class="container">
  <div class="new-appointment-page-wrapper">
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <%= month_calendar attribute: :time, events: @appointments do |date, appointments| %>
          <%= date %>

          <% appointments.each do |appointment| %>
            <div>
              <%= appointment.time %>
            </div>
          <% end %>
        <% end %>

      </div>
      <div class="col-sm-12 col-md-6">
        <%= simple_form_for @appointment do |f|%>
          <%= f.input :date %>
          <%= f.input :time %>
          <%= f.input :duration, label: "Duration (minutes)", collection: [20, 30, 45, 60, 90]%>
          <%= f.input :topic, label: "What topic(s) do you want to cover?" %>
          <%= f.input :location, collection: ["Barcelona", "Starbucks", "Skype"], hint: 'If you are not based in Barcelona, you must choose "Skype" :)' %>

          <%= f.submit "Book Appointment", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
