<div class="container">
  <div class="new-appointment-page wrapper">
    <% if current_user.student %>
    <% if current_user.student.appointments.presence %>
    <div class="text-right"><%= link_to "View my Appointments", appointments_path %></div>
    <% end %>
    <% end %>
    <h2 class="text-center">Schedule Your Lesson</h2>
    <div class="row">

      <div class="col-sm-12 col-md-6">
        <h3 class="text-center">Abby's Schedule</h3>
        <%= month_calendar attribute: :time do |date| %>
        <%= date.day %>
        <% @appointments.each do |appointment| %>
        <div>
          <% if appointment.date == date %>
          <div class="appointment-in-calendar"><%= appointment.time.strftime("%H:%M") %></div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="new-appointment-form">
        <%= simple_form_for @appointment do |f|%>
        <%= f.input :date, html5: true %>
        <div class="new-appointment-form-time"> <%= f.input :time, minute_step: 15 %></div>
        <%= f.input :duration, label: "Duration (minutes)", collection: [20, 30, 45, 60, 90]%>
        <%= f.input :topic, label: "What topic(s) do you want to cover?" %>
        <%= f.input :location, collection: ["Barcelona", "Starbucks", "Skype"], hint: 'If you are not based in Barcelona, you must choose "Skype" :)' %>

        <%= f.submit "Book Appointment", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>

  <%= link_to "Back", :back, class: "btn btn-primary" %>

</div>
</div>
