<div class="container">

  <%= simple_form_for @appointment do |f|%>
  <%= f.input :time %>
  <%= f.input :duration %>
  <% end %>
</div>

<div class="container">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>


